<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Fakebook =]]]</title>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/dojo/1.9.1/dijit/themes/claro/claro.css" />
    <script>
        var dojoConfig = {
            baseUrl: '//ajax.googaleapis.com/ajax/libs/dojo/1.10.0/dojo',
            paths: {
                'guestbook': '/static/js/guestbook'
            },
            parseOnLoad : true
            {#            async : true#}
        };
    </script>
    <link rel="stylesheet" type="text/css" href="/static/js/guestbook/widget/css/guestbook.css">
</head>
<body>

{% csrf_token %}
<span id="guestbook" data-dojo-type="app.FirstWidget"data-dojo-props="guestbook:'default_guestbook'"></span>
<script src="//ajax.googleapis.com/ajax/libs/dojo/1.10.0/dojo/dojo.js"></script>
<script type="text/javascript">
    require([
        "guestbook/widget/GuestbookWidget",
        "dojo/domReady!"
    ]);
</script>
<a class="link" href="{{ url }}">{{ url_linktext }}</a>

</body>
</html>