<span>
    <b><span data-dojo-attach-point="authorNode">${author} </span></b> wrote at <span data-dojo-attach-point="pub_date">${!pub_date}</span>:
    <div data-dojo-type="dijit/InlineEditBox"
         data-dojo-props="
         editor:'dijit/form/ValidationTextBox',
         autoSave: false,
         editorParams: {required:'true',
                        maxLength:'10'}
         "
         data-dojo-attach-point="contentNode">${!content}</div>
    <span>Edited by: ${updated_by}</span> at <span> ${date_modified}</span><br/>
    <button data-dojo-type="dijit/form/Button" data-dojo-attach-point="deleteButtonNode" value="Delete">Delete</button>
    <br/>
</span>