<div>
    <div data-dojo-attach-point="greetingListNode" id="greetingListNode"></div>
    <b>Content:</b><br />
    <textarea data-dojo-attach-point="contentNode" rows="3" cols="60" id="content"></textarea>
    <br />
    <button data-dojo-attach-point="signButtonNode" id="signButton">Sign Guestbook</button>
    <br/>
    <b>Guestbook:</b>
    <form>
        <input data-dojo-attach-point="guestbookNode" value="" id="guestbook_name" name="guestbook_name">
        <input type="submit" value="switch"></form>
    </form>

</div>