<div>
    <b id="announce"></b>
    <div data-dojo-attach-point="greetingListNode" id="greetingListNode"></div>
    <b>Content:</b><br />
    <textarea data-dojo-attach-point="contentNode" rows="3" cols="60" id="content" ></textarea>
    <br />
    <button data-dojo-type="dijit/form/Button" data-dojo-attach-point="signButtonNode" id="signButton">Sign Guestbook</button>
    <br/>
    <b>Guestbook:</b>

    <input data-dojo-attach-point="guestbookNode" value="" id="txtGuestbook_name" name="guestbook_name">
    <button data-dojo-type="dijit/form/Button" data-dojo-attach-point="switchButtonNode" id="switchButton">Switch Guestbook</button>


</div>